.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.wrapper > input {
  width: 100%;
  color: var(--gray-100);
  background-color: var(--gray-500);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
}

.wrapper > input::placeholder {
  font-size: 1rem;
}

.wrapper > input:focus-within {
  outline: 1px solid var(--purple-dark);
}
